
@font-face {
  font-family: sitka;
  src: url(./sitka/sitka.ttc);
}

body {
font-family: sitka;
text-align: justify;
width: 95%;
}

div {
    font-size:medium;
}

th, td {
  padding: 10px;
  text-align: left;
}

tr:hover {
    background-color: #f5f5f5;
}

img {
    box-shadow: 0px 0px 5px white;
}